/* CSS declarations go here */
span.DET {
	padding: 5px;
	background-color: #E7E7E7;
	border: solid 1px #616A7F;
	min-width: 20px;
	border-radius: 5px;
}

span.OCC {
	padding: 5px;
	background-color: #E7E7E7;
	border: solid 1px #616A7F;
	min-width: 20px;
}

span.SEV {
	padding: 5px;
	background-color: #E7E7E7;
	border: solid 1px #616A7F;
	min-width: 20px;
}

span.DesCntrls {
	padding: 5px;
	background-color: #E7E7E7;
	border: solid 1px #616A7F;
}

span.Causes {
	padding: 5px;
	background-color: #E7E7E7;
	border: solid 1px #616A7F;
	border-radius: 10px;

}

span.Effects {
	padding: 5px;
	background-color: #E7E7E7;
	border: solid 1px #616A7F;
	border-radius: 10px;
	
}

ul {list-style-type: none;
}

ul.Fctn {
	background-color: #efefef;
	margin: 10px;
	border-color: "yellow";
	border-style: solid;
}

ul.FModes{
	background-color: #cfcfcf;
	margin: 10px;
	border-color: "yellow";
	border-style: solid;
}

ul.Effects{
	background-color: #afafaf;
	margin: 10px;
	border-color: "yellow";
	border-style: solid;
}

ul.Causes{
	background-color: #990000;
	margin: 10px;
	border-color: "yellow";
	border-style: solid;
}

div.Fctn {
	display: inline-block;
}
div.FModes {
	display: inline-block;
}

div.Effects {
	display: inline-block;
}

div.Causes {
	display:inline-block;
}
