div.node-Fctn {
	border: solid 1px #000000;
	color: #ff0000;
		position:relative;
}

div.children-wrapper-Fctn {
	display: inline-block;

}

div.node-FModes {
	border: solid 1px #000000;
	color: #0000ff;
		position:relative;
}

div.children-wrapper-FModes {
	display: inline-block;
}

div.node-Effects {
	border: solid 1px #000000;
	color:  #880088;
}

div.children-wrapper-Effects {
	display:inline-block;
}

div.node-Causes {
	border: solid 1px #000000;
	color: #c0c0c0;
}

div.children-wrapper-Causes {
	display: inline-block;

}

div.node-DesCntrls {
	color:  #000000;
	border: solid 1px #000000;
	padding-left: 2px;
	padding-right: 2px;
	position:relative;
}

div.content-Fctn {
	width: 160px;
	display: inline-block;
}
div.content-Causes {
	width: 160px;
	display: inline-block;

}
div.content-FModes {
	width: 160px;
	display: inline-block;

}
div.content-Effects {
	width: 160px;
	display: inline-block;
}
div.content-DesCntrls {
	width: 250px;
	display: inline-block;
	color:  #000000;

}

div.content-SEV {
	width: 20px;
	display: inline-block;
}
div.content-OCC {
	width: 20px;
	display: inline-block;
}
div.content-DET {
	width: 20px;
	display: inline-block;
}

div.children-wrapper-DET {
	display: inline-block;
}
div.children-wrapper-OCC {
	display: inline-block;
}
div.children-wrapper-SEV {
	display: inline-block;
}